
.jumbotron {
    background: transparent;
}

.project-name {
    font-size: 60px;
}

.logo {
    max-height: 300px;
}

.info-bar {
    font-size: small;
    padding: 6px 6px 6px 6px;
}

.image-face {
    padding-top: 40px;
    max-height: 400px;
}

.btn {
    border: none;
    border-radius: 0;
}

.btn:hover {
    border: none;
}

.site-footer {
}

 ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
 ul li {
    list-style:none;
    margin-bottom:25px;
}
 ul li img {
    cursor: pointer;
}

h4 a {
    color: black;
}

.design-head {
    padding-bottom: 10px;
}

 .jumbotron p {
    font-size: 15px;
}

.page        {
    border-top: solid;
    border-width: thin;

    bottom:0;
    padding-top:50px;
    text-align:center;
    width:100%;
}

/*about page*/

.about-text {
    font-family: sans-serif;
    font-weight: bold;
}