
.jumbotron {
    background: transparent;
}

.project-name {
    font-size: 60px;
}

.image-face {
    padding-top: 40px;
    max-height: 400px;
}

.btn {
    border: none;
    border-radius: 0px;
}

.btn:hover {
    border: none;
}

.site-footer {
}

 ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
 ul li {
    list-style:none;
    margin-bottom:25px;
}
 ul li img {
    cursor: pointer;
}

.about-form {

}

.design-head {
    padding-bottom: 10px;
}

