
.jumbotron {
    background: transparent;
}

.image-face {
    padding-top: 40px;
    max-height: 400px;
}

.btn {
    border: none;
    border-radius: 0px;
}

.btn:hover {
    border: none;
}

.site-footer {
}

 ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
 ul li {
    list-style:none;
    margin-bottom:25px;
}
 ul li img {
    cursor: pointer;
}

.about-form {

}


.popUP{
    position:absolute;
    z-index: 2000;
    width: 100%;
    height: auto;
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.8);
}

.popUP>img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popUP>h3{
    text-align: center;
}