<!-- contact.html -->

<h1>Design Projects Page</h1>

<!--<div class="jumbotron text-center">-->


    <div ng-repeat="item in imageArray">
        <div class="col-xs-6 col-sm-4 col-md-3" >
            <a ng-click="hiddenPopUp=true" class="btn"><img ng-src={{item.src}} ALT="{{item.name}}"></a>
        </div>

        <div ng-show="hiddenPopUp" class="ng-show popUP" ng-click="hiddenPopUp=false">
            <img ng-src={{item.src}} ALT={{item.name}}/>
            <p>somthing here to test this</p>
        </div>
    </div>
</div>

