
<h1 class="design-head">Projects Page</h1>

<!--<div class="jumbotron text-center">-->


    <!--<div ng-repeat="item in imageArray">-->
        <!--<div class="col-xs-6 col-sm-4 col-md-3" >-->
            <!--<a ng-click="hiddenPopUp=true" class="btn"><img ng-src={{item.src}} ALT="{{item.name}}"></a>-->
        <!--</div>-->

        <!--<div ng-show="hiddenPopUp" class="ng-show popUP" ng-click="hiddenPopUp=false">-->
            <!--<img ng-src={{item.src}} ALT={{item.name}}/>-->
            <!--<p>somthing here to test this</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link href="http://rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" rel="stylesheet">
<link href="http://rawgithub.com/ashleydw/lightbox/gh-pages/css/dark.css" rel="stylesheet">


<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="row">
                        <a href="images/LogoBLACK400px.jpg" data-toggle="lightbox" data-gallery="mixedgallery" data-footer="Katrina Colangelo Photography Logo" class="col-sm-4">
                            <img src="images/LogoBLACKsizedpx.jpg" class="img-responsive">
                        </a>
                        <a href="https://www.youtube.com/watch?v=mgGY_nb300M" data-toggle="lightbox" data-gallery="mixedgallery" data-title="Jack & Audrey Wedding Video" class="col-sm-4">
                            <img src="images/clickImageWedding.png" class="img-responsive">
                        </a>
                        <a href="http://lorempixel.com/500/300" data-toggle="lightbox" data-gallery="mixedgallery" data-title="Someone lost their dress" class="col-sm-4">
                            <img src="http://lorempixel.com/500/300" class="img-responsive">
                        </a>
                    </div>
                    <div class="row">
                        <a href="http://lorempixel.com/500/300" data-toggle="lightbox" data-gallery="mixedgallery" data-footer="Big ass waterfall- using footer instead of title" class="col-sm-4">
                            <img src="http://lorempixel.com/500/300" class="img-responsive">
                        </a>
                        <a href="http://lorempixel.com/500/300" data-toggle="lightbox" data-gallery="mixedgallery" data-title="Cool bottle" data-footer="Now fill it with whiskey" class="col-sm-4">
                            <img src="http://lorempixel.com/500/300" class="img-responsive">
                        </a>
                        <a href="http://lorempixel.com/500/300" data-toggle="lightbox" class="col-sm-4" data-gallery="mixedgallery">
                            <img src="http://lorempixel.com/500/300" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>


